@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

.todo {
  font-family: "Inter", sans-serif;
  color: #000000;
  background-color: #f5f5dc;
  width: 500px;
  min-height: 500px;
  border-radius: 0.5rem;
  padding: 25px;
  margin: auto;
  margin-top: 50px;
  right: 100px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease-in-out;
}

.todo-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 15px;
}

.todo-add {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.todo-input {
  border-radius: 10px;
  background: #ffcf9d;
  border: none;
  outline: #ffb000 1.5px solid;
  width: 400px;
  height: 30px;
  font-size: 1rem;
  padding: 18px;
}

.todo-button {
  border-radius: 5px;
  background: #004225;
  color: #f5f5dc;
  border: none;
  outline: none;
  width: 100px;
  height: 30px;
  font-size: 1rem;
  padding: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out,
    border 0.3s ease-in-out, font-size 0.3s ease-in-out,
    font-weight 0.3s ease-in-out;
}

.todo-button:hover {
  border: #004225 1px solid;
  background: #f5f5dc;
  color: #004225;
  font-weight: 500;
  font-size: 1.2rem;
}
